[SddmGreeterTheme]
Name=Sway-Fedora
Description=Fedora Sway Theme
Author=Fedora Sway SIG
Copyright=(c) 2024, Fedora Sway SIG
License=CC-BY-SA-3.0 AND MIT
Type=sddm-theme
Version=0.1
Website=https://gitlab.com/fedora/sigs/sway/sway-config-fedora
Screenshot=03-sway-fedora.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=sway@lists.fedoraproject.org
Theme-Id=03-sway-fedora
Theme-API=2.0
